Repository magicdawn/promise.x: changes, and which Codecov flags are due for each by the changed paths.
All: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

chore: clean up
  promise.obj/test/mocha.opts
  promise.retry/test/mocha.opts
Due: promise.obj, promise.retry

chore: add readme generator
  README.md
  README.md.njk
  package.json
  scripts/run.js
Due: none

chore: add description to promise.x readme
  README.md
  README.md.njk
  scripts/run.js
Due: none

chore: add sub package readme
  promise.ify/API.md
  promise.ify/README.md
  promise.map/API.md
  promise.map/README.md
  promise.obj/API.md
  promise.obj/README.md
  promise.retry/API.md
  promise.retry/README.md
  promise.timeout/API.md
  promise.timeout/README.md
  scripts/README.md.njk
  scripts/pkg.README.md.njk
  scripts/run.js
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

chore: re-generate
  promise.ify/README.md
  promise.map/README.md
  promise.obj/README.md
  promise.retry/README.md
  promise.timeout/README.md
  scripts/pkg.README.md.njk
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

chore: format
  promise.ify/CHANGELOG.md
  promise.map/CHANGELOG.md
  promise.obj/CHANGELOG.md
  promise.retry/CHANGELOG.md
Due: promise.ify, promise.map, promise.obj, promise.retry

chore: install-deps before test on CI
  .travis.yml
  package.json
  scripts/run.js
Due: none

chore: remove async
  scripts/run.js
Due: none

chore: fix flags must match pattern ^[\w\,]+$
  .codecov.yml
Due: none

chore: fix codecov flag
  scripts/run.js
Due: none

chore: cd to package then report coverage
  scripts/run.js
Due: none

chore: use test-cover-report
  .travis.yml
  package.json
  scripts/run.js
Due: none

chore: use project root to report
  scripts/run.js
Due: none

chore: try codecov.yml
  codecov.yml
  scripts/run.js
Due: none

doc(readme): fix badge
  README.md
  scripts/README.md.njk
  scripts/run.js
Due: none

chore(readme): fix
  promise.ify/README.md
  promise.map/README.md
  promise.obj/README.md
  promise.retry/README.md
  promise.timeout/README.md
  scripts/pkg.README.md.njk
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

chore(readme): fix
  README.md
  promise.ify/README.md
  promise.map/README.md
  promise.obj/README.md
  promise.retry/README.md
  promise.timeout/README.md
  scripts/README.md.njk
  scripts/pkg.README.md.njk
  scripts/run.js
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

chore: reformat
  promise.ify/API.md
  promise.ify/index.js
  promise.ify/package.json
  promise.map/index.js
  promise.map/test/simple.js
  promise.obj/index.js
  promise.obj/test/simple.js
  promise.retry/index.js
Due: promise.ify, promise.map, promise.obj, promise.retry

feat(*): add types to all package
  .eslintrc.yml
  promise.ify/package.json
  promise.ify/types/index.d.ts
  promise.ify/types/index.test-d.ts
  promise.map/index.js
  promise.map/package.json
  promise.map/types/index.d.ts
  promise.map/types/index.test-d.ts
  promise.obj/index.js
  promise.obj/package.json
  promise.obj/types/index.d.ts
  promise.obj/types/index.test-d.ts
  promise.retry/index.js
  promise.retry/package.json
  promise.retry/types/index.d.ts
  promise.retry/types/index.test-d.ts
  promise.timeout/index.js
  promise.timeout/package.json
  promise.timeout/types/index.test-d.ts
  scripts/pkg.README.md.njk
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

fix(promise.map): fix tsd test
  promise.map/types/index.test-d.ts
  scripts/run.js
Due: promise.map

chore: re-generate readme
  promise.ify/README.md
  promise.map/README.md
  promise.obj/README.md
  promise.retry/README.md
  promise.timeout/README.md
Due: promise.ify, promise.map, promise.obj, promise.retry, promise.timeout

Path conditions:
  promise.ify: any of: promise.ify/
  promise.map: any of: promise.map/
  promise.obj: any of: promise.obj/
  promise.retry: any of: promise.retry/
  promise.timeout: any of: promise.timeout/
